
@charset "UTF-8";

.header_area .row .header_logo{width:20%;}
.header_area .row .header_meun{width:80%;}
.container{
	
	display: flex;
	justify-content: center;
	flex-direction: column;
	
}

.textarea {
	width: 550px;
}


