@charset "UTF-8";

.notice_detail_area{}
.notice_detail_area .row{margin: 0;  box-shadow: 0 5px 10px 0 gray;  padding: 0 15px;}
.notice_detail_area .row .notice_title{float: left; height: 60px; line-height: 60px; font-size: 19px; font-weight: bold; width: 85%; }
.notice_detail_area .row .notice_title.type1{width:70%; }
.notice_detail_area .row .report_kind{float:left; height: 60px; line-height: 60px; font-weight: bold; width: 15%;}
.notice_detail_area .row .notice_writer{float:left; height: 60px; line-height: 60px; font-weight: bold; width: 15%;}
.notice_detail_area .row .notice_writer.type1{width: 15%;}

.notice_detail_area .content_area{}
.notice_detail_area .content_area .writing_date{float: right; padding: 10px; font-size: 16px; }
.notice_detail_area .content_area .textarea_detail{ width: 100%; border: 0; height: 500px; outline: none; box-shadow: 0 5px 10px 0 gray; padding: 15px;}


.btn_area{ margin: 20px 0; }
.btn_area .row{margin: 0;}
.btn_area .row .btn_detail{float: right; border: 1px solid black; width: 100px; height: 40px; margin: 0 10px; text-align: center; line-height: 40px; font-size: 18px; background-color: black; color: white; text-decoration: none; outline: none;}


.notice_detail_area .row .notice_title .no_title_detail{ border:0; height: 60px; width: 450px;}
.notice_detail_area .row .notice_writer .no_writer_detail{ border:0;  height: 60px; width: 55px;}

.notice_detail_area .report_imgdetail_area{margin: 15px 0;}
.notice_detail_area .report_imgdetail_area .row{margin: 0; padding: 15px;}
.notice_detail_area .report_imgdetail_area .row .imgdetail_area{float:left; border:1px solid gray; margin-right:20px;}
.notice_detail_area .report_imgdetail_area .row .imgdetail_area .report_imgdetail{width: 150px; height:120px;}










