<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertMember">
		INSERT /* com.greedy.semi.member.model.dao.MemberDAO#insertMember() */
		  INTO TBL_MEMBER A
		(
		  A.MEMBER_NO
		, A.EMAIL
		, A.MEMBER_PWD
		, A.MEMBER_NAME
		, A.PHONE
		)
		VALUES
		(
		  SEQ_MEMBER_NO.NEXTVAL
		, ?
		, ?
		, ?
		, ?
		)
	</entry>
	<entry key="selectEncryptPwd">
		SELECT /* com.greedy.semi.member.model.dao.MemberDAO#selectEncryptPwd() */
		       B.MEMBER_PWD
		  FROM TBL_MEMBER B
		 WHERE B.MEMBER_STATUS = 'Y'
		   AND B.EMAIL = ?
	</entry>
	<entry key="selectLoginMember">
		SELECT /* com.greedy.semi.member.model.dao.MemberDAO#selectLoginMember() */
		       C.MEMBER_NO
		     , C.EMAIL
		     , C.MEMBER_PWD
		     , C.MEMBER_NAME
		     , C.PHONE
		     , C.ENROLL_DATE
		     , C.MODIFIED_DATE
		     , C.BLACK_STATUS
		     , C.MEMBER_ROLE
		     , C.MEMBER_STATUS
		  FROM TBL_MEMBER C
		 WHERE C.MEMBER_STATUS = 'Y'
		   AND C.EMAIL = ?
	</entry>
	<entry key="updateMember">
		UPDATE /* com.greedy.semi.member.model.dao.MemberDAO#updateMember() */
		       TBL_MEMBER D
		   SET D.PHONE = ?
		     , D.MODIFIED_DATE = SYSDATE
		 WHERE D.MEMBER_STATUS = 'Y'
		   AND D.EMAIL = ?
	</entry>
	<entry key="deletMember">
		UPDATE /* com.greedy.semi.member.model.dao.MemberDAO#deleteMember() */
		       TBL_MEMBER E
		   SET E.MEMBER_STATUS = 'N'
		     , E.MODIFIED_DATE = SYSDATE
		 WHERE E.MEMBER_STATUS = 'Y'
		   AND E.MEMBER_NO = ?
	</entry>
	<entry key="updatePassword">
		UPDATE /* com.greedy.semi.member.model.dao.MemberDAO#updatePassword() */
		       TBL_MEMBER D
		   SET D.MEMBER_PWD = ?
		     , D.MODIFIED_DATE = SYSDATE
		 WHERE D.MEMBER_STATUS = 'Y'
		   AND D.MEMBER_NO = ?
	</entry>
	<entry key="selectMemberByName">
		SELECT /* com.greedy.semi.member.model.dao.MemberDAO#selectMemberByName() */
		       E.EMAIL
		     , E.ENROLL_DATE
		  FROM TBL_MEMBER E
		 WHERE E.MEMBER_STATUS = 'Y'
		   AND E.PHONE = ?
		   AND E.MEMBER_NAME = ?
	</entry>
	<entry key="selectMemberByPhone">
		SELECT /* com.greedy.semi.member.model.dao.MemberDAO#selectMemberByPhone() */
		       E.EMAIL
		     , E.ENROLL_DATE
		  FROM TBL_MEMBER E
		 WHERE E.MEMBER_STATUS = 'Y'
		   AND E.PHONE = ?
	</entry>
	<entry key="selectEmail">
		SELECT /* com.greedy.semi.member.model.dao.MemberDAO#selectEmail() */
		       F.EMAIL
		     , F.MEMBER_NAME
		  FROM TBL_MEMBER F
		 WHERE F.MEMBER_STATUS = 'Y'
		   AND F.EMAIL = ?
	</entry>
	<entry key="selectResetMember">
		SELECT /* com.greedy.semi.member.model.dao.MemberDAO#selectResetMember() */
		       G.MEMBER_NO
		     , G.MEMBER_NAME
		     , G.EMAIL
		     , G.MEMBER_PWD
		  FROM TBL_MEMBER G
		 WHERE G.MEMBER_STATUS = 'Y'
		   AND G.MEMBER_NAME = ?
		   AND G.EMAIL = ?
	</entry>
	<entry key="updateResetPassword">
		UPDATE /* com.greedy.semi.member.model.dao.MemberDAO#updateResetPassword() */
		       TBL_MEMBER H
		   SET H.MEMBER_PWD = ?
		     , H.MODIFIED_DATE = SYSDATE
		 WHERE H.MEMBER_STATUS = 'Y'
		   AND H.EMAIL = ?
	</entry>
	<entry key="selectEmailList">
		SELECT /* com.greedy.semi.member.model.dao.MemberDAO#selectEmailList() */
		       I.EMAIL
		  FROM TBL_MEMBER I
		 WHERE I.EMAIL = ? 
	</entry>
	<entry key="insertTrainer">
		INSERT /* com.greedy.semi.member.model.dao.MemberDAO#insertTrainer() */
		  INTO TBL_MEMBER J
		(
		  J.MEMBER_NO
		, J.EMAIL
		, J.MEMBER_PWD
		, J.MEMBER_NAME
		, J.PHONE
		, J.MEMBER_ROLE
		)
		VALUES
		(
		  SEQ_MEMBER_NO.NEXTVAL
		, ?
		, ?
		, ?
		, ?
		, 'TRAINER'
		)
	</entry>
	<entry key="selectTrainer">
		SELECT /* com.greedy.semi.member.model.dao.MemberDAO#selectTrainer() */
		       K.MEMBER_NO
		  FROM TBL_MEMBER K
		 WHERE K.EMAIL = ?
	</entry>
	<entry key="insertInfoTrainer">
		INSERT /* com.greedy.semi.member.model.dao.MemberDAO#insertInfoTrainer() */
		  INTO TBL_TRAINER_INFO L
		(
		  L.MEMBER_NO
		, L.ACCOUNT_NUMBER
		, L.BANK_NAME
		, L.ACCOUNT_HOLDER
		)
		VALUES
		(
		  ?
		, ?
		, ?
		, ?
		)
	</entry>
	<entry key="insertCareer">
		INSERT /* com.greedy.semi.member.model.dao.MemberDAO#insertCareer() */
		  INTO TBL_CAREER M
		(
		  M.MEMBER_NO
		, M.PLACE_OF_WORK
		, M.START_DATE
		, M.END_DATE
		, M.EMPLOYMENT_STATUS
		)
		VALUES
		(
		  ?
		, ?
		, ?
		, ?
		, ?
		)
	</entry>
	<entry key="insertLicense">
		INSERT /* com.greedy.semi.member.model.dao.MemberDAO#insertLicense() */
		  INTO TBL_LICENSE N
		(
		  N.LICENSE_CODE
		, N.LICENSE_NAME
		, N.ISSUING_INSTITUTION
		, N.GRADE
		, N.ISSUE_DATE
		, N.EXPIRATION_DATE
		)
		VALUES
		(
		  ?
		, ?
		, ?
		, ?
		, ?
		, ?
		)
	</entry>
	<entry key="insertAttachment">
		INSERT /* com.greedy.semi.member.model.dao.MemberDAO#insertAttachment() */
		  INTO TBL_LICENSE_ATTACHMENT O
		(
		  O.LICENSE_ATTACHMENT_NO
		, O.REF_LICENSE_CODE
		, O.ORIGINAL_NAME
		, O.FILE_NAME
		, O.FILE_PATH
		, O.THUMBNAIL_PATH
		, O.UPLOAD_DATE
		)
		VALUES
		(
		  SEQ_LICENSE_ATTACHMENT_NO.NEXTVAL
		, ?
		, ?
		, ?
		, ?
		, ?
		, SYSDATE
		)
	</entry>
	<entry key="insertTrainerLicense">
		INSERT /* com.greedy.semi.member.model.dao.MemberDAO#insertTrainerLicense() */
		  INTO TBL_TRAINER_LICENSE P
		(
		  P.LICENSE_MANAGE_NO
		, P.MEMBER_NO
		, P.LICENSE_CODE
		)
		VALUES
		(
		  SEQ_LICENSE_MANAGE_NO.NEXTVAL
		, ?
		, ?
		)
	</entry>
	<entry key="selectTrainerInfo">
		SELECT /* com.greedy.semi.member.model.dao.MemberDAO#selectTrainerInfo() */
		       Q.ACCOUNT_NUMBER
		     , Q.BANK_NAME
		     , Q.ACCOUNT_HOLDER
		     , Q.APPROVAL_STATUS 
		     , Q.AVERAGE_SCORE
		  FROM TBL_TRAINER_INFO Q
		 WHERE Q.MEMBER_NO = ? 
	</entry>
	<entry key="updateTrainerInfo">
		UPDATE
		       TBL_TRAINER_INFO R
		   SET R.ACCOUNT_NUMBER = ?
		     , R.ACCOUNT_HOLDER = ?
		     , R.BANK_NAME = ?
		 WHERE R.MEMBER_NO = ?
	</entry>
</properties>