<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertMember">
		INSERT /* com.greedy.semi.member.model.dao.MemberDAO#insertMember() */
		  INTO TBL_MEMBER A
		(
		  A.MEMBER_NO
		, A.EMAIL
		, A.MEMBER_PWD
		, A.MEMBER_NAME
		, A.PHONE
		)
		VALUES
		(
		  SEQ_MEMBER_NO.NEXTVAL
		, ?
		, ?
		, ?
		, ?
		)
	</entry>
	<entry key="selectEncryptPwd">
		SELECT /* com.greedy.semi.member.model.dao.MemberDAO#selectEncryptPwd() */
		       B.MEMBER_PWD
		  FROM TBL_MEMBER B
		 WHERE B.MEMBER_STATUS = 'Y'
		   AND B.EMAIL = ?
	</entry>
	<entry key="selectLoginMember">
		SELECT /* com.greedy.semi.member.model.dao.MemberDAO#selectLoginMember() */
		       C.MEMBER_NO
		     , C.EMAIL
		     , C.MEMBER_PWD
		     , C.MEMBER_NAME
		     , C.PHONE
		     , C.ENROLL_DATE
		     , C.MODIFIED_DATE
		     , C.BLACK_STATUS
		     , C.MEMBER_ROLE
		     , C.MEMBER_STATUS
		  FROM TBL_MEMBER C
		 WHERE C.MEMBER_STATUS = 'Y'
		   AND C.EMAIL = ?
	</entry>
	<entry key="updateMember">
		UPDATE /* com.greedy.semi.member.model.dao.MemberDAO#updateMember() */
		       TBL_MEMBER D
		   SET D.PHONE = ?
		     , D.MODIFIED_DATE = SYSDATE
		 WHERE D.MEMBER_STATUS = 'Y'
		   AND D.EMAIL = ?
	</entry>
</properties>