<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectAllNoticeList">
        SELECT
                 A.RNUM
               , A.NOTICE_NO                    
               , A.NOTICE_SUBJECT
               , A.NOTICE_BODY
               , A.MEMBER_NO
               , A.MEMBER_NAME
               , A.NOTICE_VIEW_COUNT
               , A.NOTICE_REGIST_DATE
               , A.NOTICE_STATUS
            FROM (SELECT ROWNUM RNUM
                       , B.NOTICE_NO                    
                       , B.NOTICE_SUBJECT
                       , B.NOTICE_BODY
                       , B.MEMBER_NO
                       , B.MEMBER_NAME
                       , B.NOTICE_VIEW_COUNT
                       , B.NOTICE_REGIST_DATE
                       , B.NOTICE_STATUS
                    FROM (SELECT C.NOTICE_NO
                               , C.NOTICE_SUBJECT                 
                               , C.NOTICE_BODY
                               , C.MEMBER_NO
                               , E.MEMBER_NAME
                               , C.NOTICE_VIEW_COUNT
                               , C.NOTICE_REGIST_DATE
                               , C.NOTICE_STATUS
                            FROM TBL_NOTICE C                 
                            JOIN TBL_MEMBER E ON (C.MEMBER_NO = E.MEMBER_NO)
                           WHERE C.NOTICE_STATUS = 'Y' 
                           ORDER BY C.NOTICE_NO DESC
                        ) B
                 ) A
             WHERE A.RNUM BETWEEN ? AND ? 
	</entry>
	
	<entry key="insertNotice">
		INSERT
		  INTO TBL_NOTICE A
		(
		  A.NOTICE_NO
		, A.NOTICE_CATEGORY_CODE 
		, A.NOTICE_SUBJECT
		, A.NOTICE_BODY
		, A.MEMBER_NO 
		, A.NOTICE_REGIST_DATE
		)  
		VALUES
		(
		  SEQ_NOTICE_NO.NEXTVAL
		, 'NT'
		, ?
		, ?
		, ? 
		, SYSDATE 
		)
	</entry>
	
	<entry key="incrementNoticeCount">
		UPDATE
		       TBL_NOTICE A
		   SET A.NOTICE_VIEW_COUNT = (SELECT B.NOTICE_VIEW_COUNT
		                           FROM TBL_NOTICE B
		                          WHERE B.NOTICE_NO = ?
		                        ) + 1
		 WHERE A.NOTICE_NO = ?                           
	</entry>
	
	<entry key="selectAllNoticeDetail">
		SELECT
	            A.NOTICE_NO
	          , A.NOTICE_SUBJECT
	          , A.NOTICE_BODY
	          , A.MEMBER_NO
	          , B.MEMBER_NAME
	          , A.NOTICE_VIEW_COUNT
	          , A.NOTICE_REGIST_DATE
	      FROM TBL_NOTICE A
	      JOIN TBL_MEMBER B ON (A.MEMBER_NO = B.MEMBER_NO)
	     WHERE A.NOTICE_STATUS = 'Y'
	       AND A.NOTICE_NO = ?        
	</entry>
	
	<entry key="updateNotice">
		UPDATE
		       TBL_NOTICE A
		   SET A.NOTICE_SUBJECT = ?
		     , A.NOTICE_BODY = ?
		 WHERE A.NOTICE_STATUS = 'Y' 
           AND A.NOTICE_NO = ?  
	</entry>
	
	<entry key="deleteNotice">
		UPDATE
		       TBL_NOTICE A
		   SET A.NOTICE_STATUS = 'N'    
		 WHERE A.NOTICE_STATUS = 'Y'
		   AND A.NOTICE_NO = ? 
	</entry>
	
	<entry key="selectTotalCount">
		SELECT
		       COUNT(*)
		  FROM TBL_NOTICE A
		 WHERE A.NOTICE_STATUS = 'Y'      
	</entry>
	
	<entry key="searchWriterCount">
		SELECT
               COUNT(*)
          FROM TBL_NOTICE A
          JOIN TBL_MEMBER B ON (A.MEMBER_NO = B.MEMBER_NO)
         WHERE A.NOTICE_STATUS = 'Y'
           AND B.MEMBER_NAME LIKE '%' || ? || '%'
	</entry>
	
	<entry key="searchTitleCount">
		SELECT
               COUNT(*)
          FROM TBL_NOTICE A
         WHERE A.NOTICE_STATUS = 'Y'
           AND A.NOTICE_SUBJECT LIKE '%' || ? || '%'
	</entry>
	
	<entry key="searchContentCount">
		SELECT
               COUNT(*)
          FROM TBL_NOTICE A          
         WHERE A.NOTICE_STATUS = 'Y'
           AND A.NOTICE_BODY LIKE '%' || ? || '%'
	</entry>
	
	<entry key="searchWriterList">
		SELECT
                 A.RNUM
               , A.NOTICE_NO                    
               , A.NOTICE_SUBJECT
               , A.NOTICE_BODY
               , A.MEMBER_NO
               , A.MEMBER_NAME
               , A.NOTICE_VIEW_COUNT
               , A.NOTICE_REGIST_DATE
               , A.NOTICE_STATUS
            FROM (SELECT ROWNUM RNUM
                       , B.NOTICE_NO                    
                       , B.NOTICE_SUBJECT
                       , B.NOTICE_BODY
                       , B.MEMBER_NO
                       , B.MEMBER_NAME
                       , B.NOTICE_VIEW_COUNT
                       , B.NOTICE_REGIST_DATE
                       , B.NOTICE_STATUS
                    FROM (SELECT C.NOTICE_NO
                               , C.NOTICE_SUBJECT                 
                               , C.NOTICE_BODY
                               , C.MEMBER_NO
                               , E.MEMBER_NAME
                               , C.NOTICE_VIEW_COUNT
                               , C.NOTICE_REGIST_DATE
                               , C.NOTICE_STATUS
                            FROM TBL_NOTICE C                 
                            JOIN TBL_MEMBER E ON (C.MEMBER_NO = E.MEMBER_NO)
                           WHERE C.NOTICE_STATUS = 'Y' 
                             AND E.MEMBER_NAME LIKE '%' || ? || '%'
                           ORDER BY C.NOTICE_NO DESC
                        ) B
                 ) A
             WHERE A.RNUM BETWEEN ? AND ? 
	</entry>
	
	<entry key="searchTitleList">
		SELECT
                 A.RNUM
               , A.NOTICE_NO                    
               , A.NOTICE_SUBJECT
               , A.NOTICE_BODY
               , A.MEMBER_NO
               , A.MEMBER_NAME
               , A.NOTICE_VIEW_COUNT
               , A.NOTICE_REGIST_DATE
               , A.NOTICE_STATUS
            FROM (SELECT ROWNUM RNUM
                       , B.NOTICE_NO                    
                       , B.NOTICE_SUBJECT
                       , B.NOTICE_BODY
                       , B.MEMBER_NO
                       , B.MEMBER_NAME
                       , B.NOTICE_VIEW_COUNT
                       , B.NOTICE_REGIST_DATE
                       , B.NOTICE_STATUS
                    FROM (SELECT C.NOTICE_NO
                               , C.NOTICE_SUBJECT                 
                               , C.NOTICE_BODY
                               , C.MEMBER_NO
                               , E.MEMBER_NAME
                               , C.NOTICE_VIEW_COUNT
                               , C.NOTICE_REGIST_DATE
                               , C.NOTICE_STATUS
                            FROM TBL_NOTICE C                 
                            JOIN TBL_MEMBER E ON (C.MEMBER_NO = E.MEMBER_NO)
                           WHERE C.NOTICE_STATUS = 'Y' 
                             AND C.NOTICE_SUBJECT LIKE '%' || ? || '%'
                           ORDER BY C.NOTICE_NO DESC
                        ) B
                 ) A
             WHERE A.RNUM BETWEEN ? AND ? 
	</entry>
	
	<entry key="searchContentList">
		SELECT
                 A.RNUM
               , A.NOTICE_NO                    
               , A.NOTICE_SUBJECT
               , A.NOTICE_BODY
               , A.MEMBER_NO
               , A.MEMBER_NAME
               , A.NOTICE_VIEW_COUNT
               , A.NOTICE_REGIST_DATE
               , A.NOTICE_STATUS
            FROM (SELECT ROWNUM RNUM
                       , B.NOTICE_NO                    
                       , B.NOTICE_SUBJECT
                       , B.NOTICE_BODY
                       , B.MEMBER_NO
                       , B.MEMBER_NAME
                       , B.NOTICE_VIEW_COUNT
                       , B.NOTICE_REGIST_DATE
                       , B.NOTICE_STATUS
                    FROM (SELECT C.NOTICE_NO
                               , C.NOTICE_SUBJECT                 
                               , C.NOTICE_BODY
                               , C.MEMBER_NO
                               , E.MEMBER_NAME
                               , C.NOTICE_VIEW_COUNT
                               , C.NOTICE_REGIST_DATE
                               , C.NOTICE_STATUS
                            FROM TBL_NOTICE C                 
                            JOIN TBL_MEMBER E ON (C.MEMBER_NO = E.MEMBER_NO)
                           WHERE C.NOTICE_STATUS = 'Y' 
                             AND C.NOTICE_BODY LIKE '%' || ? || '%'
                           ORDER BY C.NOTICE_NO DESC
                        ) B
                 ) A
             WHERE A.RNUM BETWEEN ? AND ? 
	</entry>
	
	<entry key="insertReport">
		INSERT
		  INTO TBL_NOTICE A
		(
		  A.NOTICE_NO
		, A.NOTICE_CATEGORY_CODE 
		, A.NOTICE_SUBJECT
		, A.NOTICE_BODY
		, A.MEMBER_NO 
		, A.NOTICE_REGIST_DATE
		)  
		VALUES
		(
		  SEQ_NOTICE_NO.NEXTVAL
		, 'RPR' 
		, ?
		, ?
		, ? 
		, SYSDATE 
		)
	</entry>
	
	<entry key="insertBlack">
		INSERT
          INTO TBL_REPORT B
       (
         B.REPORT_NO
       , B.REPORT_MEMBER_NO
       , B.REPORT_CODE 
       , B.REPORT_DATE
       , B.REASON
       )
       VALUES
       ( 
         SEQ_REPORT_NO.NEXTVAL
       , ? 
       , ?
       , SYSDATE
       , 'NULL'
       )
	</entry>
	
	
</properties>