<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="insertThumbnailContent">
        INSERT /* com.greedy.semi.trainer.dao.ClassDAO#insertThumbnailContent() */
          INTO TBL_CLASS A
        (
          A.CLASS_NO
        , A.CLASS_NAME
        , A.CLASS_TYPE
        , A.CLASS_CATEGORY
        , A.CLASS_INTRO
        , A.CLASS_INTRODUCE
        , A.CREATED_DATE
        , A.TRAINER_NO
        )
        VALUES
        (
          SEQ_CLASS_NO.NEXTVAL
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        )
    </entry>
    <entry key="selectClassSequence">
        SELECT /* com.greedy.semi.trainer.dao.ClassDAO#selectClassSequence() */
               SEQ_CLASS_NO.CURRVAL
          FROM DUAL     
    </entry>
    <entry key="insertAttachment">
        INSERT /* com.greedy.semi.trainer.dao.ClassDAO#insertAttachment() */
          INTO TBL_ATTACHMENT A
        (
          A.ATTACHMENT_NO
        , A.REF_CLASS_NO
        , A.ORIGINAL_NAME
        , A.SAVED_NAME
        , A.SAVE_PATH
        , A.FILE_TYPE
        , A.THUMBNAIL_PATH  
        )
        VALUES
        (
          SEQ_ATTACHMENT_NO.NEXTVAL
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?  
        ) 
    </entry>
    <entry key="selectThumbnailList">
        SELECT /* com.greedy.semi.trainer.dao.ClassDAO#selectThumbnailList() */
               A.CLASS_NAME
             , A.CREATED_DATE
             , B.ATTACHMENT_NO
             , B.ORIGINAL_NAME
             , B.SAVED_NAME
             , B.SAVE_PATH
             , B.THUMBNAIL_PATH
          FROM TBL_CLASS A
          JOIN TBL_ATTACHMENT B ON (A.CLASS_NO = B.REF_CLASS_NO)
         WHERE A.CLASS_STATUS = 'N'
           AND B.ATTACHMENT_STATUS = 'Y'
           AND B.FILE_TYPE = 'CLASSNAME'
         ORDER BY A.CLASS_NO DESC  
    </entry>
</properties>