<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="insertThumbnailContent">
        INSERT /* com.greedy.semi.trainer.dao.ClassDAO#insertThumbnailContent() */
          INTO TBL_OPENED_CLASS A
        (
          A.CLASS_NO
        , A.CLASS_NAME
        , A.CLASS_KIND
        , A.CLASS_CATEGORY
        , A.CLASS_INTRO
        , A.CLASS_INTRODUCE
        , A.CREATED_DATE
        , A.TRAINER_NO
        )
        VALUES
        (
          SEQ_CLASS_NO.NEXTVAL
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        )
    </entry>
    <entry key="selectClassSequence">
        SELECT /* com.greedy.semi.trainer.dao.ClassDAO#selectClassSequence() */
               SEQ_CLASS_NO.CURRVAL
          FROM DUAL     
    </entry>
    <entry key="insertAttachment">
        INSERT /* com.greedy.semi.trainer.dao.ClassDAO#insertAttachment() */
          INTO TBL_CLASS_ATTACHMENT A
        (
          A.CLASS_ATTACHMENT_NO
        , A.REF_CLASS_NO
        , A.ORIGINAL_NAME
        , A.SAVED_NAME
        , A.SAVE_PATH
        , A.FILE_TYPE
        , A.THUMBNAIL_PATH
        , A.REF_TRAINER_NO
        )
        VALUES
        (
          SEQ_CLASS_ATTACHMENT_NO.NEXTVAL
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        ) 
    </entry>
    <entry key="selectThumbnailList">
        SELECT /* com.greedy.semi.trainer.dao.ClassDAO#selectThumbnailList() */
               A.CLASS_NO
             , A.TRAINER_NO  
             , A.CLASS_NAME
             , A.CLASS_KIND
             , A.CLASS_CATEGORY
             , A.CLASS_KIND
             , A.CLASS_INTRO
             , A.CLASS_INTRODUCE  
             , A.CREATED_DATE
             , A.CLASS_COUNT
             , B.CLASS_ATTACHMENT_NO
             , B.REF_TRAINER_NO
             , B.ORIGINAL_NAME
             , B.SAVED_NAME
             , B.SAVE_PATH
             , B.THUMBNAIL_PATH
          FROM TBL_OPENED_CLASS A
          JOIN TBL_CLASS_ATTACHMENT B ON (A.CLASS_NO = B.REF_CLASS_NO)
         WHERE A.CLASS_STATUS = 'N'
           AND B.ATTACHMENT_STATUS = 'Y'
           AND B.FILE_TYPE = 'CLASSNAME'
         ORDER BY A.CLASS_NO DESC  
    </entry>
    <entry key="incrementClassCount">
        UPDATE /* com.greedy.semi.trainer.dao.ClassDAO#incrementClassCount() */
               TBL_OPENED_CLASS A
           SET A.CLASS_COUNT = (SELECT B.CLASS_COUNT
                                  FROM TBL_OPENED_CLASS B
                                 WHERE B.CLASS_NO = ?
                               ) + 1
         WHERE A.CLASS_NO = ?                          
    </entry> 
    <entry key="selectOneThumbnailClass">
        SELECT /* com.greedy.semi.trainer.dao.ClassDAO#selectOneThumbnailClass() */
               A.CLASS_NO
             , A.TRAINER_NO  
             , A.CLASS_NAME
             , A.CLASS_KIND
             , A.CLASS_CATEGORY
             , A.CLASS_INTRO
             , A.CLASS_INTRODUCE
             , A.CREATED_DATE
             , A.CLASS_COUNT
             , B.CLASS_ATTACHMENT_NO
             , B.REF_TRAINER_NO
             , B.ORIGINAL_NAME
             , B.SAVED_NAME
             , B.SAVE_PATH
             , B.FILE_TYPE
             , B.THUMBNAIL_PATH
          FROM TBL_OPENED_CLASS A
          JOIN TBL_CLASS_ATTACHMENT B ON (A.CLASS_NO = B.REF_CLASS_NO)
         WHERE A.CLASS_STATUS = 'N'
           AND B.ATTACHMENT_STATUS = 'Y'
           AND A.CLASS_NO = ? 
    </entry>
    <entry key="updateClass">
        UPDATE /* com.greedy.semi.trainer.dao.ClassDAO#updateClass() */
               TBL_OPENED_CLASS A
           SET A.CLASS_NAME = ?
             , A.CLASS_KIND = ?
             , A.CLASS_CATEGORY = ?
             , A.CLASS_INTRO = ?
             , A.CLASS_INTRODUCE = ?
             , A.CREATED_DATE = ?
         WHERE A.CLASS_STATUS = 'N'
           AND A.TRAINER_NO = ?
    </entry>
    <entry key="incrementTrainerCount">
        UPDATE /* com.greedy.semi.trainer.dao.ClassDAO#incrementTrainerCount() */
               TBL_OPENED_CLASS A
           SET A.CLASS_COUNT = (SELECT B.CLASS_COUNT
                                  FROM TBL_OPENED_CLASS B
                                 WHERE B.CLASS_NO = ?
                               ) + 1
         WHERE A.CLASS_NO = ?    
    </entry>
    <entry key="selectTrainerInfo">
        SELECT /* com.greedy.semi.trainer.dao.ClassDAO#selectTrainerInfo() */
               A.CLASS_NO
             , A.TRAINER_NO
             , A.CLASS_NAME
             , A.CLASS_KIND
             , A.CLASS_CATEGORY
             , A.CLASS_INTRO
             , A.CLASS_INTRODUCE
             , A.CREATED_DATE
             , A.CLASS_COUNT
             , B.MEMBER_NAME
             , C.CLASS_ATTACHMENT_NO
             , C.REF_TRAINER_NO
             , C.ORIGINAL_NAME
             , C.SAVED_NAME
             , C.SAVE_PATH
             , C.THUMBNAIL_PATH
          FROM TBL_OPENED_CLASS A
          JOIN TBL_MEMBER B ON (A.TRAINER_NO = B.MEMBER_NO)
          JOIN TBL_CLASS_ATTACHMENT C ON (A.CLASS_NO = C.REF_CLASS_NO)
         WHERE A.CLASS_NO = ?
           AND C.ATTACHMENT_STATUS = 'Y'
           AND C.FILE_TYPE = 'INTRODUCE'
    </entry>
    <entry key="reservationMember">
        INSERT /* com.greedy.semi.trainer.dao.ClassDAO#reservationMember() */
          INTO TBL_TRAINER_PT_PERMIT A
        (
          A.PERMIT_NO
        , A.TRAINER_NO
        , A.MEMBER_NO
        , A.CLASS_NO
        )
        VALUES
        (
          SEQ_PERMIT_NO.NEXTVAL
        , ?
        , ?
        , ?
        )
    </entry>
    <entry key="selectReservationMember">
        SELECT
               A.PERMIT_NO
             , A.TRAINER_NO
             , A.MEMBER_NO
             , A.APPLY_DATE
             , A.PERMIT_YN
             , A.PERMIT_DATE
             , A.CLASS_NO
             , B.CLASS_ATTACHMENT_NO
             , B.REF_CLASS_NO
             , B.ORIGINAL_NAME
             , B.SAVED_NAME
             , B.SAVE_PATH
             , B.THUMBNAIL_PATH
          FROM TBL_TRAINER_PT_PERMIT A
          JOIN TBL_CLASS_ATTACHMENT B ON (A.CLASS_NO = B.REF_CLASS_NO)
         WHERE A.CLASS_NO = ?
           AND B.ATTACHMENT_STATUS = 'Y'
           AND B.FILE_TYPE = 'CLASSNAME'
         ORDER BY A.PERMIT_NO DESC
    </entry>
    <entry key="insertComment">
        INSERT /* com.greedy.semi.trainer.dao.CommentDAO#insertComment() */
          INTO TBL_COMMENT A
        (
          A.COMMENT_NO
        , A.COMMNET_WRITER
        , A.COMMENT_CONTENT  
        )
        VALUES
        (
          SEQ_COMMENT_NO.NEXTVAL
        , ?
        , ?  
        )
    </entry>
    <entry key="updateComment">
        UPDATE /* com.greedy.semi.trainer.dao.CommentDAO#updateComment() */
               TBL_COMMENT A
           SET A.COMMNET_WRITER = ?
             , A.COMMENT_CONTENT = ?
         WHERE A.COMMENT_NO = ?    
    </entry>
    <entry key="deleteComment">
        DELETE
          FROM TBL_COMMNET A
         WHERE A.COMMENT_NO = ? 
    </entry>
    <entry key="selectComment">
        SELECT
               A.COMMENT_NO
             , A.COMMENT_WRITER
             , A.COMMENT_CONTENT
             , A.COMMENT_DATE
          FROM TBL_COMMENT A
         WHERE A.COMMENT_NO = ?      
    </entry>
    <entry key="selectCommentList">
        SELECT
               A.COMMENT_NO
             , A.COMMENT_WRITER
             , A.COMMENT_CONTENT
             , A.COMMENT_DATE
          FROM TBL_COMMENT A
         ORDER BY NO DESC;
    </entry>
</properties>