   /* 헤더 */
   .header_area .row .header_logo .logo_detail {
   	text-decoration: none;
   	color: black;
   }

   .header_area {
   	line-height: 60px;
   	padding: 0 30px;
   }

   .header_area .row {
   	margin: 0;
   }

   .header_area .row .header_logo {
   	float: left;
   	font-family: Rock Salt;
   	font-weight: bold;
   	text-shadow: 0px 0px 8px black;
   	font-size: 20px;
   }

   .header_area .row .header_meun {
   	float: right;
   }

   .header_area .row .header_meun .menu_list {
   	float: right;
   	font-size: 18px;
   	text-decoration: none;
   	padding: 0 20px;
   	color: black;
   }

   /* 헤더 끝 */
   /* 수업등록  시작 */
   .class-regist {
   	font-size: 50px;
   	text-align: center;
   }

   /* 클래스  종류 선택 */
   .class-select {
   	display: inline;
   	font-family: Roboto;
   	font-size: 40px;
   	margin-left: 2%;

   }

   /* 클래스 이름 */
   .class-name {
   	display: inline;
   	font-family: Roboto;
   	font-size: 40px;
   	padding-left: 24%;
   }

   /* 버튼  */
   .btn {
   	margin-left: 2%;
   	width: 20%;
   	margin-bottom: 2%;
   }

   /* 클래스 이름 입력창  */
   .mb-1 {

   	display: inline-block;

   	margin-left: 6%;
   }

   /* 클래스 이름 입력창  */
   .class-name-input {
   	position: relative;
   	top: -14px;
   	width: 325%;
   	padding: 6px 2px;
   }

   /* 카테고리  */
   .category {
   	font-family: Roboto;
   	font-size: 40px;
   	margin-left: 2%;
   }

   /* 수업시간 등록  */
   .set {
   	font-family: Roboto;
   	font-size: 40px;
   	margin-left: 2%;
   }

   /* 달력 */
   #datepicker {
   	display: inline-block;
   	margin-left: 2%;
   	margin-top: 1%;
   }

   /* 시간 설정 */
   #time-picker {
   	margin-left: 2%;
   	margin-top: 1%;
   	width: 13%;
   }

   /* 본인 수업을 소개할 문구(3가지) */
   .three {
   	font-family: Roboto;
   	font-size: 40px;
   	margin-left: 2%;
   }

   /* 본인 수업을 소개할 문구(3가지) */
   .three-introduce {
   	margin-left: 1%;
   	margin-top: 0.5%;
   	margin-bottom: 0.5%;
   }

   /* 개설할 클래스 소개 */
   .textarea-input {
   	display: block;
   	width: 45%;
   	margin-left: 1%;
   	margin-top: 0.5%;
   	margin-bottom: 1%;
   	margin-left: 2%;
   }

   /* 클래스 개설 이미지 등록 */
   .file-field {
   	width: 20%;
   	margin-left: 1%;
   	margin-top: 0.5%;
   	margin-bottom: 1%;
   	margin-left: 2%;
   	display: inline-block;
   }

   #image_container.image-area {
   	width: 260px;
   	height: 170px;
   	display: inline-block;
   }


   .small-image {
   	width: 250px;
   	height: 170px;
   	border: 1px solid black;
   	display: inline-block;

   }

   .input-detail {
   	position: absolute;
   	top: 0;
   	left: 0;
   	display: block;
   	width: 250px;
   	height: 170px;
   	opacity: 0;
   }

   .image-class {
   	display: inline-block;
   	position: relative;
   	width: 250px;
   	height: 170px;
   }



   /* 푸터 시작 */
   .footer_area {
   	height: 320px;
   	background-color: lightgray;
   	padding: 30px;
   }

   .footer_area .footer_logo {
   	font-family: Rock Salt;
   	font-weight: bold;
   	font-size: 25px;
   	padding: 15px 0;
   }

   .footer_area .row {
   	margin: 0;
   }

   .footer_area .row .company_info {
   	width: 50%;
   	float: left;
   }

   .footer_area .row .company_info .info_text {
   	font-family: Rock Salt;
   	font-size: 15px;
   	padding: 8px 0;
   }

   .footer_area .row .service_area {
   	width: 25%;
   	float: left;
   }

   .footer_area .row .service_area .service_info {
   	text-align: center;
   	font-size: 18px;
   	font-weight: bold;
   }

   .footer_area .row .service_area .service_text {
   	font-family: Rock Salt;
   	font-size: 15px;
   	padding: 8px 0;
   	text-align: center;
   }

   .footer_area .row .service_area .service_text .service_text_1 {
   	text-decoration: none;
   	color: black;
   }

   .footer_area .row .terms_area {
   	width: 25%;
   	float: left;
   }

   .footer_area .row .terms_area .terms_info {
   	text-align: center;
   	font-size: 18px;
   	font-weight: bold;
   }

   .footer_area .row .terms_area .terms_text {
   	font-size: 15px;
   	padding: 8px 0;
   	text-align: center;
   }

   .footer_area .row .terms_area .terms_text .terms_text_1 {
   	text-decoration: none;
   	color: black;
   }

   /* 푸터 끝 */

   /*팝업*/
   .modal.fade {}

   .modal.fade .modal-dialog {}

   .modal.fade .modal-dialog .modal-content {}

   .modal.fade .modal-dialog .modal-content .modal-header {
   	border: 0;
   	text-align: center;
   	padding: 45px;
   }

   .modal.fade .modal-dialog .modal-content .modal-header .fa-dumbbell {
   	font-size: 70px;
   	color: #ff3700;
   }

   .modal.fade .modal-dialog .modal-content .modal-body {}

   .modal.fade .modal-dialog .modal-content .modal-body .modal_text {
   	font-size: 25px;
   	text-align: center;
   }

   .modal.fade .modal-dialog .modal-content .modal-footer {
   	text-align: center;
   	padding: 30px;
   }

   .modal.fade .modal-dialog .modal-content .modal-footer .btn-default {
   	width: 140px;
   	height: 50px;
   	color: white;
   	background-color: black;
   }

   /*팝업 끝*/